//Variáveis do grid
$cols: 12;
$gutter: 20px; //margin-left + margin-right
$l-device: 1200px; //tela grande
$m-device: 760px; //tela média
$s-device: 480px; //tela pequena

// Box-sizing
*, *::after, *::before { //Seletor coringa pra todos elementos
  box-sizing: border-box;
}

// Mixin de media-querie
@mixin d($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: $m-device) and (max-width: $l-device - 1) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: $m-device - 1) {
      @content;
    }
  }
}

p {
  color: blue;
  @include d(m) {
    color: pink;
  }
  @include d(s) {
    color: aqua;
  }
}

// Função do grid

@function grid($col, $offset: false) {
  $width: $col / $cols * 100 + "%";
  $result: calc(#{$width} - #{$gutter});

  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }

  @return $result;
}

// Gerando as classes de grid
@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

// Mixin estrutura do grid
@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include d(s) {
    width: 100%; //No mobile é apenas uma coluna
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

//Seleciona todas as classes que contenham 'grid-'
[class^="grid-"] {
  @include grid-structure;
}

//Gerando as classes de offset
@for $i from 1 through $cols {
  .offset-#{$i} {
    width: grid($i, offset);
    @extend %offset;
  }
}

//Quando for mobile forçar margin zerada
@include d(s){
  %offset {
    margin-left: 0;
  }
}

// Mixin de clearfix
@mixin clearfix {
  &::after, &::before {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $l-device;
  margin: 0 auto;
  position: relative;
  @include d(m) {
    max-width: $m-device;
  }
  @include d(s) {
    max-width: $s-device;
    margin-left: 10px;
    margin-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}
